repos:
    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.10.0
      hooks:
          - id: commitizen
            stages: [commit-msg]
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.5
      hooks:
          - id: ruff-check
            args: [--fix]
          - id: ruff-format
